<div class="modal-content">
  
  <div class="modal-header">
      <h4 class="modal-title"><i class="fa fa-plus-square" aria-hidden="true"></i> Añadir Cliente</h4>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true"><i class="fa fa-remove fa-lg m-t-2" style="color:white;"></i></span>
      </button>
  </div>

  <div class="modal-body">

      <div class="row">

        <form class="form-horizontal col-md-6">
            <div class="form-group row">
                <label class="col-sm-4 form-control-label" for="exampleSelect1">Lugar</label>
                <select class="form-control col-sm-6" id="exampleSelect1">
                    <option>Seleccione un lugar</option>
                    <option>1 - MadPilots Snack Bar</option>
                    <option>2 - Ecological Drive</option>
                    <option>3 - Aula 12</option>
                    <option>4 - II Timone Express</option>
                </select>
            </div>

            <div class="bordelugar">
                <div class="form-group row">
                    <label class="col-sm-3 form-control-label" 
                        style="color: rgba(204, 204, 204, 0.5);margin-bottom: 0px;font-size: 11px;">
                        Dirección
                    </label>
                    <input type="text" class="form-control col-sm-8" style="font-size: 11px;" 
                        placeholder="Dirección" 
                        id="direccion" 
                        name="direccion"
                        disabled>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 form-control-label" 
                        style="color: rgba(204, 204, 204, 0.5);margin-bottom: 0px;font-size: 12px;">
                        Localización
                    </label>
                    <input type="text" class="form-control col-sm-2" style="font-size: 11px;"
                        placeholder="CP" 
                        id="cp" 
                        name="cp"
                        disabled>
                    <input type="text" class="form-control col-sm-6" style="font-size: 11px;"
                        placeholder="Localidad" 
                        id="localidad" 
                        name="localidad"
                        disabled>
                </div>
            </div>
    
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">Nombre</label>
                <input type="text" class="form-control col-sm-6" placeholder="Nombre" 
                id="nombre" 
                name="nombre" 
                required>
            </div>

            <div class="form-group row">
                <label class="col-sm-4" for="textarea01">Descripción</label>
                <textarea class="form-control col-sm-6" 
                    id="textarea01" 
                    placeholder="Descripción"></textarea>
            </div>


            <div class="form-group row">
                <label class="col-sm-6 form-control-label">Fecha</label>
                <input type="date" class="form-control col-sm-4" placeholder="Fecha"
                id="fecha" 
                name="fecha"
                required>
            </div>
              <div class="form-group row">
                  <label class="col-sm-6 form-control-label">Puntos</label>
                  <input type="number" class="form-control col-sm-4" style="font-size: 25px; font-weight: 600; color: greenyellow;"
                  placeholder="Puntos" 
                  id="puntos" 
                  name="puntos"
                  required>
              </div>


              <div class="modal-footer">
                  <button class="btn btn-primary btn-raised waves-light input-block-level" 
                    style="float: right; margin-botton: 10px;"
                    type="submit">
                    Guardar
                  </button>
              </div>
        </form>

  
        <div class="col-md-6" style="margin-top: 7%;">
            <label class="textImg" >Imagen 302x302px</label>
            <img-parking2 
                [picture]="profile.picture" 
                [defaultPicture]="defaultPicture" 
                [uploaderOptions]="uploaderOptions">
            </img-parking2>
        </div>
  
      </div>


  </div>
</div>

