<div class="modal-content">
  
  <div class="modal-header">
      <h4 class="modal-title"><i class="fa fa-user" aria-hidden="true"></i> {{usuario.id}} - {{usuario.nombre}}</h4>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true"><i class="fa fa-remove fa-lg m-t-2" style="color:white;"></i></span>
      </button>
  </div>

  <div class="modal-body">

      <div class="row">

        <div class="col-md-4">
            <img class="avatarU" src="assets/img/usuarios/Yo.png">
        </div>

        <form class="form-horizontal col-md-8">
            <div class="form-group row">
                <label for="falta" class="col-sm-3 form-control-label" style="font-weight: 600;">Fecha de Alta:</label>
                <label type="text" class="form-control col-sm-3" id="falta" name="falta">{{usuario.fecha}} </label>
                <label for="nivel" class="col-sm-2 form-control-label" style="flex: 0 0 10%; font-weight: 600;">Puntos:</label>
                <label type="text" class="col-sm-3" id="nivel" name="nivel">{{usuario.puntos}} </label>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-sm-3 form-control-label" style="font-weight: 600;">Nombre:</label>
                <label type="text" class="form-control col-sm-7" id="nombre" name="nombre">{{usuario.nombre}} </label>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 form-control-label" style="font-weight: 600;">Email:</label>
                <label type="text" class="form-control col-sm-7" id="email" name="email">{{usuario.email}} </label>
            </div>
            <div class="form-group row">
                <label for="direccion" class="col-sm-3 form-control-label" style="font-weight: 600;">Dirección:</label>
                <label type="text" class="form-control col-sm-7" id="direccion" name="direccion">{{usuario.direccion}} </label>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 form-control-label" style="font-weight: 600;">Localización:</label>
                <label class="form-control col-sm-2" id="cp" name="cp" placeholder="CP" required="" type="text">{{usuario.cp}} </label>
                <label class="form-control col-sm-5" id="localidad" name="localidad" placeholder="Localidad" required="" type="text">{{usuario.localidad}} </label>
            </div>

          </form>

      </div>

      <div class="modal-footer">
            <div class="col-md-12" style="padding-left: 0px; padding-right: 5px;">
           
                <!-- regular tabs -->
                <tabset>
                    
                    <tab title="Aparcamientos">
                        <ba-card baCardClass="with-scroll table-panel">
                            <aparcamientos-table></aparcamientos-table>
                        </ba-card>
                    </tab>

                    <tab title="Historial">
                        <ba-card baCardClass="with-scroll table-panel">
                                <historial-table></historial-table>
                        </ba-card>
                    </tab>

                    <tab title="Favoritos">
                        <ba-card baCardClass="with-scroll table-panel">
                                <favoritos-table></favoritos-table>
                        </ba-card>
                    </tab>
 
                </tabset>
                
            </div>
      </div>
      
                
  </div>
</div>
