/* You can add global styles to this file, and also import other style files */

@media (min-width: 768px) { 
    .modal-lg {
        max-width: 940px;
    }
}

//TABLA MODAL
.card > .card-body {
    padding: 15px 15px;
}
a.btn {
    font-size: 16px;
    font-weight: 600;
}
//USUARIOS POR MES
.ba-chartist-chart.ct-chart {
    height: 315px;
  }

  .al-content {
    padding: 8px 32px 8px 15px;
}