label.col-sm-12.form-control-label {
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
i.ion-ios-plus-outline {
    font-size: 25px;
}
.btn {
    padding: 0.1rem 0.2rem;
}